<section class="products-page">
  <header class="products-page__header">
    <h1>Produtos</h1>
    <a routerLink="/products/new">Novo produto</a>
  </header>

  @if (productsStore.loading()) {
    <p>Carregando produtos...</p>
  } @else if (productsStore.error()) {
    <p>{{ productsStore.error() }}</p>
  } @else {
    <p>Total de produtos: {{ productsStore.filteredItems().length }}</p>

    <ul>
      @for (item of productsStore.filteredItems(); track item.id) {
        <li>{{ item.name }} - {{ item.category }} - R$ {{ item.price }}</li>
      }
    </ul>
  }
</section>
